$background-gris: rgb(43, 43, 43);
$background-amarillo: rgb(247, 182, 23);
$font-blanco: rgb(255, 255, 255);
$font-titulo: 'Montserrat', sans-serif;
$font-contenido: 'Josefin Sans', sans-serif;
$break-small: 320px;
$break-medium:767px;
$break-large:1200px;
$column:8.333%;
$center-align: center;